<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>

    <h1><a href="/fub/new-buyer">Add Buyer</a></h1>
    <h1><a href="/fub/report">Report</a></h1>
    <h1><a href="/fub/calls">Calls</a></h1>
    <h1><a href="/fub/leads">Leads</a></h1>

    {{{body}}}

    <script src="/js/script.js"></script>

  </body>

</html>